@page "/irrigation/{id}"
@using Blazored.Toast.Services;
@using Microsoft.AspNetCore.Authorization;
@using RegnalHome.Common.Models;
@using RegnalHome.Web.Services;
@inject IrrigationService IrrigationService;
@inject ITranslationService Translation;
@inject IToastService toastService;
@attribute [Authorize]

<h3>IrrigationDetail</h3>

@if (IrrigationModule == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@IrrigationModule" OnValidSubmit="FormSubmit">
        <div>
            <label class="col-md-2">@Translation.Get(nameof(IrrigationModule.Id))</label>
            <label>@IrrigationModule.Id</label>
        </div>
        <div>
            <label class="col-md-2">@Translation.Get(nameof(IrrigationModule.LastCommunication))</label>
            <label>@IrrigationModule.LastCommunication</label>
        </div>
        <div>
            <label class="col-md-2">@Translation.Get(nameof(IrrigationModule.Name))</label>
            <InputText @bind-Value=IrrigationModule.Name />
        </div>
        <div>
            <label class="col-md-2">@Translation.Get(nameof(IrrigationModule.IrrigationLengthMinutes))</label>
            <InputNumber @bind-Value=IrrigationModule.IrrigationLengthMinutes />
        </div>
        <div>
            <label class="col-md-2">@Translation.Get(nameof(IrrigationModule.IrrigationTime))</label>
            <InputDate Type="InputDateType.Time" @bind-Value=IrrigationModule.IrrigationTime />
        </div>
        <div>
            <button class="oi-align-right" type="submit">@Translation.Get("Submit")</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public string? id { get; set; }

    public IrrigationModule? IrrigationModule { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        if (id != null &&
        Guid.TryParse(id, out _))
        {
            IrrigationModule = await IrrigationService.GetModule(id);
        }
    }

    private async Task FormSubmit()
    {
        try
        {
            await IrrigationService.UpdateModule(IrrigationModule);
            toastService.ShowSuccess("Saved successfully");

        }
        catch (Exception e)
        {
            toastService.ShowError($"Error occurred.\n{e.Message}");
        }
    }
}
